*/bin/*
MediScreenFront/bin/*
MediScreenFront/obj/*
MediScreenFront/Properties/launchSettings.json
MediScreenApi/MediScreenApi/bin/*
MediScreenApi/MediScreenApi/obj/*
*/obj/*
.idea/
.docker/
*.idea/*
*.docker/*
!*MediScreenLib/bin/Debug/net7.0/*