*/bin/*
MediScreenFront/MediScreenFront/bin/*
MediScreenFront/MediScreenFront/obj/*
MediScreenApi/MediScreenApi/bin/*
MediScreenApi/MediScreenApi/obj/*
*/obj/*
.idea/
.docker/
*.idea/*
*.docker/*
!*MediScreenLib/bin/Debug/net7.0/*