@{
    ViewData["Title"] = "Home Page";
}

<section class="homeSection d-flex">
    <div class="w-25 m-5">
        <h3 class="primary-color fw-bold">We care.</h3>
        <p>
            Mediscreen specializes in detecting risk factors for disease. Our screenings using predictive analysis of patient
            populations at an affordable cost.
        </p>
        <ul>
            <li>Are you a small or rural clinic or practice ?</li>
            <li>Do you need screenings for heart disease or hyper tension precursor ?</li>
        </ul>
        <h6 class="fw-bold primary-color">We have a solution for you.</h6>
    </div>
    <div>
        <img src="~/img/home.jpg" alt="Home image" class="home-img img-fluid" />
    </div>
</section>
