@{
    ViewData["Title"] = "Privacy policy";
}
<section class="container pt-4">
    <div>
           <h2>Privacy Policy</h2>
           <p>Your privacy is important to us. It is our policy to respect your privacy regarding any information we may collect from you across our website, <a href="/">www.example.com</a>, and other sites we own and operate.</p>
    </div>
</section>