<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/158c254b57.js" crossorigin="anonymous"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Mediscreen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MediScreenFront.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <banner class="d-flex">
        <img src="~/img/logo.png" alt="Mediscreen logo" class="ms-3 mt-2 logo" style="height:5rem"/>
        <a class="mt-3 navbar-brand bannerTitle" asp-area="" asp-controller="Home" asp-action="Index">
            <h1 class="fw-bold mx-4">Mediscreen</h1>
        </a>
        
        @using (Html.BeginForm("", "Home", FormMethod.Post, new { @class= "contact-form rounded-pill link no-gutters sticky-end"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="d-flex align-items-center">
                                    <div class="">
                                        <div class="form-group">
                                            <label><i class="lni lni-restaurant" aria-hidden="true"></i></label>
                                            <input type="text" name="nomResto" placeholder="" class="form-control primary-border">
                                        </div>
                                    </div>
                                    <div class="">
                                        <i class="fa fa-spinner fa-spin mr-2 d-none" aria-hidden="true"></i>
                                        <button type="submit" class="ms-1 mt-4 text-light btn main-btn primary-bg rounded-2 contact_btn" value="">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                    </div>
                                    <div>
                                        <span class="fw-bold primary-color">Questions ?</span> <a href="#" class="fw-bold primary-color text-decoration-underline">Contact-us!</a>
                                    </div>
                                    
                                }
    </banner>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light primary-bg border-bottom box-shadow mt-3 fs-4">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <partial name="_LoginPartial"/>
            <div class="fw-bold navbar-collapse collapse d-sm-inline-flex">
                <ul class="ms-5 navbar-nav flex-grow-1 justify-content-evenly">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="About" asp-action="Index">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Services" asp-action="Index">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Resources" asp-action="Index">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="NewsBlog" asp-action="Index">News Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-light primary-bg">
    <div class="container">
        &copy; 2023 - Mediscreen - <a asp-area="" asp-controller="Privacy" asp-action="Index">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>