<ul class="navbar-nav">
    @if (User.Identity is {IsAuthenticated: true })
    {
        <li class="nav-item">
            <span class="nav-link text-light">
                <a href="/" class="text-decoration-none text-light">
                    <i class="fa-regular fa-user"></i> @User.Identity.Name
                </a>
            </span>
        </li>
        <li class="nav-item">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                @Html.AntiForgeryToken() <!-- Add AntiForgeryToken for security -->
                <button type="submit" class="btn nav-link fs-4 text-light nav-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>

