@{
    ViewData["Title"] = "About";
}

<section class="container p-4">
    <div>
        <h2>About Mediscreen</h2>
        <p>Mediscreen is a web application that allows doctors to manage their patients' medical records.</p>
        <p>It is composed of two parts:</p>
        <ul>
            <li>The front part, which is a web application that allows doctors to manage their patients' medical records.</li>
            <li>The services part, which is a REST API that allows the management of patients' medical records.</li>
        </ul>
    </div>
</section>