:root{
    --primary-color: #00849a;
    --active-bg-color: #338bff;
    --patient-card-bg-color: #f5f5f5;
}

a:hover {
  color: var(--primary-color);
}

html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bannerTitle {
  color: black;
  margin-bottom: 0;
}

.sticky-end
{
    position: absolute;
    top: 0;
    right: 1rem;
}

.primary-color {
  color: var(--primary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.primary-border {
  border: 1.5px solid var(--primary-color); !important;
}

.home-img {
    width: 100%;
    object-fit: contain;
}

.validation-summary-errors {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin: 10px 0;
}

.hide {
    display: none;
}

.submenu {
    margin-left: 3rem !important;
}

.submenu-item {
    width: 30vw;
}

.form-control {
    margin-bottom: .2rem;
}

.toast.show {
    transition: opacity 0.4s, transform 0.4s;
}

/* CSS to blur the background when the service dropdown is open */
.blur {
    filter: blur(5px);
}

.card-id{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-label {
    cursor: pointer;
    margin-left: 8px;
}

.custom-checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.fa-list {
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    background-color: #cff4fc;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.7rem;
    border-radius: .25rem;
}

.card-buttons-group {
    display: flex;
    justify-content: space-between;
}

.active-link, .nav-link:hover {
    background-color: var(--active-bg-color);
}

.dropdown-menu.show {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
}

section.container {
    margin-bottom: 4rem;
}

.card-body {
    background-color: var(--patient-card-bg-color);
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.81) 2px 2px 2px;
}

.patient-card {
    position: relative;
}

.diabetes-risk {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}


@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .card-body {
        width: 30%;
    }

    .diabetes-risk:hover {
        cursor: pointer;
    }
    
    .diabetes-risk:hover:before{
        content: "Diabetes Risk";
    }

    .patients-container, .notes-container, .patientsWithRisk-container {
        display: flex;
        flex-wrap: wrap;
    }

    .patients-container h3, .notes-container h3, .patientsWithRisk-container h3 {
        width: 100%;
    }
}